body {
    font-family: Roboto, sans-serif;
}

section {
    display: flex;
    flex-direction: column;
}

.header,
.footer{
    background-color: #1f2937;
}

.header__top {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    flex: 1 1 auto;
}

.header__top-link,
.header__main-text {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.header__top-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header__top-logo,
.header__top-links {
    margin: 16px 50px;
}


.header__main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header__main-text,
.header__main-img {
    padding: 80px 20px;
}

.header__main-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__main-text h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    max-width: 400px;
}

.header__main-img {
    color: #f9faf8;
    background: #676770;
    max-width: 400px;
}

.btn-signup {
    max-width: 100px;
    border-radius: 6px;
    height: 28px;
    border: none;
}

.header__main .btn-signup {
    background: #3882f6;
    color: #f9faf8;
    border-color: #1f2937;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__info {
    padding: 32px 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.main__info-img-container {
    display: flex;
    gap: 80px;
    padding: 30px;
    align-items: center;
    justify-content: center;
}

.main__info-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 150px;
}

.main__info-img {
    width: 160px;
    height: 160px;
    border: 3px solid #3882f6;
    border-radius: 12px;
}

.main__info-text {
    /*max-width: 100px;*/
}

.main__quote {
    background: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    padding: 100px 150px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main__quote-text1 {
    margin-left: auto;
    font-weight: bold;
}

.main__signup {
    display: flex;
    justify-content: center;
    gap: 36px;
    background: #3882f6;
    padding: 40px 80px;
    margin: 60px 0;
    border-radius: 8px;
}

.main__signup .btn-signup {
    color: #fff;
    background: #3882f6;
    border: 2px solid #f9faf9;
    padding: 0 24px;
    margin-left: 72px;
    text-align: center;
}

.main__signup-text h3 {
    font-size: 20px;
    margin-bottom: 4px;
    color: #f9faf9;
}

.main__signup-text p {
    color: #f9faf8;
    font-weight: 100;
}

.footer .btn-signup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    text-align: center;
    color: #f9faf8;
    padding: 30px;
}




